
Sharks_sgp_e_2_cat_small.fits
2mass.fit
GAIA_2018.fit
src/esutil/
src/smatch/
GAIA_2018_lite.fit
VIKING.fit
VIKING_Ks.fit
sharks_sgpe.fits
gaia.fit
viking_ksap3.fit
sharks_and_des_lite.fits
sharks_and_des.fits
sharks_only_not_des.fits
sharks_only_not_des_lite.fits
sharks_only_not_des_nodifrac_lite.fits
sharks_only_not_des_nodifrac.fits
sharks_and_des_EROS_lite.fits
sharks_only_not_des_nodifrac_sig_noise_3_lite.fits
sharks_only_not_des_nodifrac_sig_noise_3_lite_corrected.fits
fits/sharks_and_des_sig_noise_3_EROS_lite.fits
fits/sharks_and_des_sig_noise_3_EROS_not_R_lite.fits
fits/sharks_only_not_des_nodifrac_sig_noise_5_lite.fits
fits/sharks_only_not_des_nodifrac_sig_noise_5_lite_corrected.fits
fits/sharks_and_des_sig_noise_5_lite.fits
fits/sharks_and_des_sig_noise_5_EROS_R_lite.fits
fits/sharks_and_des_sig_noise_5_EROS_not_R_lite.fits
fits/sharks_and_des_sig_noise_5_EROS_lite.fits
fits/sharks_and_des_sig_noise_3_lite.fits
fits/sharks_and_des_sig_noise_3_EROS_R_lite.fits
salida_ALL.xlsx
fits/viejos/sharks_only_not_des_nodifrac_sig_noise_5_lite_corrected.fits
fits/viejos/sharks_only_not_des_nodifrac_sig_noise_5_lite.fits
fits/viejos/sharks_and_des_sig_noise_5_lite.fits
fits/sharks_only_not_des_lite_sig_noise_5.fits
fits/sharks_and_des_sig_noise_5_lite_EROs.fits
fits/all_EROs.fits
fits/viejos_2/sharks_only_not_des_lite_sig_noise_5.fits
fits/viejos_2/sharks_and_des_sig_noise_5_lite_EROs.fits
fits/viejos_2/sharks_and_des_sig_noise_5_lite.fits
fits/viejos_2/all_EROs_nodifrac.fits
fits/viejos_2/all_EROs.fits
fits/sharks_sgpe_nodif_signoise5_ALL_r_detections.fits
fits/sharks_sgpe_nodif_signoise5_ALL_EROS_r_detections.fits
fits/sharks_sgpe_nodif_signoise5_ALL_EROs.fits
fits/sharks_sgpe_nodif_signoise5_ALL.fits
fits/exptime/sharks_withexptime.fits
fits/exptime/EROs_withexptime.fits
fits/exptime/des_area_healsparse_exptime.fits
